body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #7e7e7e;
  color: #ffff;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

h5 {
  font-weight: 900;
}
.navbar {
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 900;
  margin-left: 5px;
}
.icon-nav {
  color: rgb(255, 0, 0);
  margin-right: 5px;
}
#navbarNav {
  margin: auto;
}
/*Profile photos*/
h4 {
  background-color: #5a5a5a;
  width: 85%;
  margin: 5px auto 10px;
}
.content-box {
  margin-top: 0;
  text-align: center;
}
.row {
  padding-top: 50px;
  padding-bottom: 100px;
}
.img-thumbnail {
  height: 300px;
  width: 250px;
}
p {
  width: 85%;
  margin: 5px auto 10px;
  padding: 5px;
  font-style: italic;
  background-color: #5a5a5a;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  color: #ffff;
  text-align: left;
}
/*middle container*/
.middle-container {
  padding: 10px;
  text-align: center;
}
.middle-icons {
  padding: 10px 10px 0 10px;
  text-align: center;
  margin-bottom: 10px;
}
.middle-em-content {
  width: 40%;
  margin: auto;
  text-align: left;
}
.link-steam {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#footer {
  padding-top: 0px;
  margin-bottom: 0px;
  background-color: #212529;
}
